services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/app:cached
      - /app/node_modules
    env_file:
      - ./frontend/.env
    depends_on:
      - backend  
    ports:
      - "5173:5173"
    networks:
      - app-network
    environment:
      - NODE_ENV=development
    command: ["npm", "run", "dev", "--", "--host", "0.0.0.0"]
  mongoddb:
    image: mongo:latest
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - ./mongo-data:/data/db
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.runCommand('ping').ok", "--quiet"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    volumes:
      - ./backend:/app:cached
      - /app/node_modules
    env_file:
      - ./backend/.env
    depends_on:
      mongoddb:
        condition: service_healthy
    ports:
      - "4000:4000"
    networks:
      - app-network
    restart: unless-stopped  
    environment:
      - NODE_ENV=development
    command: ["npm", "start"]
networks:
  app-network:
    driver: bridge   
volumes:
  mongo-data:    
